<robot
  name="greenRoomba">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.227680465930077 -0.198821453525448 0.0729930531509659"
        rpy="0 0 0" />
      <mass
        value="5.1624984501461" />
      <inertia
        ixx="0.0281196009773752"
        ixy="-1.41715638575012E-50"
        ixz="-5.75248847065597E-35"
        iyy="0.0281196009773752"
        iyz="1.36275978151114E-18"
        izz="0.0503758921889559" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://greenRoomba/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://greenRoomba/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="roomba">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 2.77555756156289E-17 0.041275"
        rpy="0 0 0" />
      <mass
        value="5.1624984501461" />
      <inertia
        ixx="0.0281196009773752"
        ixy="1.06492968917736E-50"
        ixz="-1.0524448184896E-34"
        iyy="0.0281196009773752"
        iyz="5.75248847065597E-35"
        izz="0.0503758921889559" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://greenRoomba/meshes/roomba.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://greenRoomba/meshes/roomba.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="roomba"
    type="fixed">
    <origin
      xyz="0.227680465930077 -0.198821453525448 0.0317180531509659"
      rpy="0 6.12303176911189E-17 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="roomba" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="plate">
    <inertial>
      <origin
        xyz="-0.0455509281873409 0 0.00634999999999999"
        rpy="0 0 0" />
      <mass
        value="0.397662193585312" />
      <inertia
        ixx="0.00198664383002881"
        ixy="-8.69869762664421E-20"
        ixz="-5.27546505932778E-22"
        iyy="0.000519257899908292"
        iyz="-2.0796789672351E-21"
        izz="0.0024952119074032" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://greenRoomba/meshes/plate.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0862745098039216 0.337254901960784 0.0627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://greenRoomba/meshes/plate.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="plate"
    type="fixed">
    <origin
      xyz="0.0111125 0.000183728388784277 0.1143"
      rpy="0 0 0" />
    <parent
      link="roomba" />
    <child
      link="plate" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>