<robot
  name="Roomba (Red).SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.22767 0.07867 0.20128"
        rpy="0 0 0" />
      <mass
        value="5.5602" />
      <inertia
        ixx="0.031403"
        ixy="5.3845E-06"
        ixz="2.3362E-06"
        iyy="0.053309"
        iyz="-0.0010093"
        izz="0.032432" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Roomba (Red).SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6902 0.086275 0.062745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Roomba (Red).SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>